<%= stylesheet_link_tag "mediaelement_rails" %>
<div id="wrapper">
  <header id="header">
    <div class="container-fluid">
      <div class="max-container">
        <div class="col-xs-12">
          <div class="row">
            <strong class="logo">
              <%= image_tag "bottle_lives_matter/logo.png", alt: "BottleLivesMatter" %>
            </strong>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main id="main">
    <div class="container-fluid">
      <div class="max-container">
        <div class="col-xs-12">
          <div class="row">
            <div class="text inner">
              <p>100% RE-USED BOTTLED WATER COMPANY.</p>
              <a class="be-first" href="#">Be the first to know</a>
              <section class="section">
                <div class="img-holder">
                  <%= image_tag "bottle_lives_matter/img-03.png", alt: "#WeCanEndPollution" %>
                </div>
                <div class="txt">
                  <p>Pollution killed 7 million people last year. More than ISIS and Mexican cartels.</p>
                  <span>#WeCanEndPollution</span>
                </div>
              </section>
              <%= form_for @user, :url => { :action => "create" }, html: {class: "email-form"} do |f| %>
                <%= f.email_field :email, :placeholder => "Enter Email", :class => "form-control", required: true %>
                <input class="btn btn-submit" name="commit" type="submit" value="Step Inside" />
              <% end %>
              <audio src="<%= asset_path('arnoldAudio.mp3') %>"></audio>

              <section class="section">
                <div class="img-holder">
                  <%= image_tag "bottle_lives_matter/img-04.png", alt: "Arnold Schwarzenegger" %>
                </div>
                <div class="txt">
                  <p>What is happening right now is disastrous! Pollution is killing 7 million people a year! Pollution is the biggest killer!" </p>
                  <span>The Terminator, Arnold Schwarzenegger.</span>
                </div>
              </section>
              <p>Because it's smarter to save a life than <br> to manufacture a life.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>